.searchbox {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: #304ffe25 0px 4px 29px 0px;
}

.searchbox p {
  color: #304ffe;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}

.searchbox input {
  width: 80%;
  padding: 5px;
  border: none;
  border: 1.3px solid grey;
  border-radius: 3px;
}

.searchbox input:focus {
  outline: none;
}

.searchbox button {
  border: none;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

.searchbox button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
